@import "../../vars.css";

.container {
  position: relative;
  height: 100%;

  color: var(--color-text);
  border-radius: 15px;

  z-index: 1;
}
.projects_title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 37px;
  margin: 15px;
  border-radius: 15px;
  width: 100%;
}
