.topBtn {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 40px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  transition: ease-in 0.3s;
  margin-left: 600px;

  bottom: 10px;
}
.topBtn:hover,
.topBtn:focus {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  box-shadow: 1px -1px 58px 7px rgba(87, 108, 188, 0.72);
  -webkit-box-shadow: 1px -1px 58px 7px rgba(87, 108, 188, 0.72);
  -moz-box-shadow: 1px -1px 58px 7px rgba(87, 108, 188, 0.72);
}
@media screen and (max-width: 768px) {
  .topBtn {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .topBtn {
    width: 60px;
    height: 60px;
    font-size: 50px;
    padding: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .topBtn {
    display: none;
  }
}
