@import "../../vars.css";

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  color: var(--color-text);
  gap: 10px;
  padding: 120px 0px 30px 0px;
}

.contact_title {
  color: var(--color-text);
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.contact_par {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}
.link {
  display: flex;
  align-items: center;
  gap: 25px;
}
.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.25px;
}
@media screen and (max-width: 1024px) {
  .footer {
    flex-direction: column;
    justify-content: center;
  }
  .title_container {
    flex-direction: column;
  }
  .text {
    display: flex;
  }
}
