:root {
  /* colors */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2446;
  --color-bg: #04152d;

  /* font*/
  --font-robot: "Roboto", sans-serif;
}
